body{
    margin: 0;
}
.Rectangle-11---thqExclude---svg---input---button {
    
    height: 70vh;
    background-color: #ffcd9e;
  }
  .Rectangle-17 {
   
    height: 30vh;
    background-color: #282828;
  }
    .An-inspiring-design-delivered-to-your-inbox-every-morning {
        position: absolute;
        width: 562px;
        height: 108px;
        right: 742px;
        top: 86px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 150%;
        /* or 54px */
        color: #282828;
    }
    .Our-team-scouts-the-internet-for-the-best-designs-illustrations-and-art-and-delivers-a-truly-inspir {
        position: absolute;
        width: 500px;
        height: 8;
        left: 233px;
        top: 219px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 160%;
        /* or 32px */
        display: flex;
        align-items: center;
        color: #484848;
    }
    .Rectangle-9 {
        box-sizing: border-box;

        position: absolute;
        width: 330px;
        height: 60px;
        left: 233px;
        top: 345px;
        
        background: #FFFFFF;
        border: 3px solid #000000;
        border-radius: 6px;
    }
    .Your-e-mail-address {
        position: absolute;
        width: 350px;
        height: 50px;
        left: 260px;
        top: 363px;
    }
    
          
        
       